*:not(.ai):not(.fas){
  font-family:Arial;
}

.frame {
    margin: 2px;
    border-radius: 6px;
    border: 1px solid;
    display: inline-block;
}

.centerh {
    width:1000px;
    margin:0 auto;
}

.centervh {
    width:650px;
    height:800px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-400px 0 0 -300px;
}
