*:not(.ai):not(.fas){
  font-family:Arial;
}

.frame {
    margin: 2px;
    border-radius: 6px;
    border: 1px solid;
    display: inline-block;
}

.content {
    max-width: 650px;
    margin: auto;
}
